@import '../../../palette.scss';

.file{
     border-bottom-width: 3px;
     border-bottom-style: solid;
     border-bottom-color: $lightRed;
     display: table-row;
}
.fileHighlighted{
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: $lightRed;
    background-color: $black3;
    display: table-row;
}
.icon{
    font-size: 40px;
    padding: 0px 10px 0px 5px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.text{
    font-family: 'Ropa Sans';
    font-size: 25px;
    color: $lightRed;
    padding: 10px 0px 10px 0px;
    display: table-cell;
    max-width: 35%;
}
.trigger{
    display: table-row-group;
}
.form{
    margin: 0;
}
.textbox{
    margin: 0;
    border: 3px solid $lightRed;
    background: transparent;
    padding: 0px 6px;
    font-size: 20px;
    font-family: 'Ropa Sans';
    color: $grey;
    line-height: 12px;
    vertical-align: middle;
    border-radius: 0;
    pointer-events: auto;
}
