@import "../../palette.scss";

.cont{
    position: relative;
    height:100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.form{
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.sec{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.input{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
}
.textbox{
    margin: 0;
    border: 3px solid $lightRed;
    background: transparent;
    padding: 10px 6px;
    font-size: 20px;
    font-family: 'Ropa Sans';
    color: $grey;
    line-height: 12px;
    vertical-align: middle;
    border-radius: 0;
    pointer-events: auto;
    flex-grow: 1;
}
.submit{
    background-color: $lightRed;
    border-radius: 0;
    border: 3px solid $lightRed;
    font-size: 20px;
    font-family: 'Ropa Sans';
    color: $grey;
    padding: 10px;
    box-sizing: border-box;
    vertical-align: middle;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
    -moz-transition: background-color .5s;
    flex-grow: 1;

}
.submit:hover{
    background-color: transparent;
}
.login{
    margin: auto;
    color: $lightRed;
    font-size: 26px;
    font-family: 'Ropa Sans';
    padding: 5px;
    box-sizing: border-box;
    vertical-align: middle;
    -webkit-transition: color 1s;
    transition: color 1s;
    -moz-transition: color 1s;
}
.login:hover{
    color: $grey;
}