@import '../../../palette.scss';

.base{
    text-align: center;
    width: 100%;
    height: 100%
}
.text{
    position: relative;
    font-family: 'Ropa Sans';
    font-size: 22px;
    color: $lightRed;
    margin: 8px;
}
.resting{
    height: 60%;
    margin: 20px 20px 20px 20px;
    background: transparent;
    border-style: dashed;
    border-width: 3px;
    border-color: $black2;
    .loading{
        display: none;
    }
}

.dropHover{
    height: 60%;
    margin: 20px 20px 20px 20px;
    background: transparent;
    border-style: dashed;
    border-width: 3px;
    border-color: $lightRed;
    .loading{
        display: none;
    }
}
.uploading{
    height: 60%;
    margin: 20px 20px 20px 20px;
    background: $darkRed;
    border-style: solid;
    border-width: 3px;
    border-color: $lightRed;
    .loading{
        display: inherit;
        visibility:  visible;
        background-color: $black2;
        width: 100%;
        height: 100%;
        .text{
            margin:0;
        }
    }
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile:focus + label {
    outline: 1px dotted $lightRed;
    outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label * {
    pointer-events: none;
}
.uploadButton{
    font-family: 'Ropa Sans';
    font-size: 20px;
    border-width: 2px;
    border-color: $black2;
    border-style: solid;
    color: $black2;
    padding: 2px 2px 2px 2px;
    transition: color .25s;
    -moz-transition: color .25;
}
.uploadButton:hover{
    color: $lightRed
}