@import "../../palette.scss";

.content{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 20;
}
.container{
    margin: auto;
    position: relative;
    min-width: 100%;
    font-size: 150px;
    color: $darkRed;
    overflow: hidden;
    display: inline;
}
.login{
    position: relative;
    height: min-content;
    height: -moz-min-content;
    width: 30%;
    float: right;
    top: 40%;
    margin-right: 5%
}
.logo{
    position: relative;
    float: left;
    top: 15%;
}
