@import "../../palette.scss";

.content{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 20;
}
.container{
    margin: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: min-content;
    width: -moz-min-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 150px;
    color: $darkRed;
    overflow: hidden;
    
}
.logo{
    svg{
        position: relative;

    }
}
