@import "../../palette.scss";

.content{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 20;
}
.container{
    height: 100%;
    margin: auto;
    position: relative;
    width: min-content;
    width: -moz-min-content;
    min-width: 90%;
    font-size: 150px;
    color: $darkRed;
    overflow: hidden;
}
.login{
    position: relative;
    width: 35%;
    height: min-content;
    height: -moz-min-content;
    margin: 0;
    float: right;
    top: 40%;
}
.logo{
    position: relative;
    float: left;
    top: 15%;
}
