@import "../../palette.scss";

body{
    margin: 0;
    background-color: $white;
    overflow: hidden;
}
.logo{
    padding: 7px 10px 1px 10px;
    flex-grow: 1;
    max-width: 10%;
}
.logoimg{
    width: 100%;
    height: 100%;
}
.header{
    position: relative;
    height: 10%;
    width: 100%;
    background-color: $black4;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: $lightRed;
    z-index: 10;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between
}
.content{
    height: 90%;
    width: 100%;
}
.contentNoNav{
    height: 90%;
    width: 100%;
}
.logout{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    padding: 0 10px 0 20px;
    .button{
        font-size: 25px;
        color: $white;
        margin: 0 10px 0 10px;
        font-family: 'Ropa Sans';
        border-color: transparent;
        text-decoration: none;
        transition: color .5s;
        background-color: transparent;
    }
    .button:hover{
        color: $lightRed;
    }
}
.links{
    flex-grow: 7;
}